<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <title>핫도그를 주문!</title>

    <meta property="og:title" content="핫도그를 팝니다" />
    <meta property="og:description" content="내가 만든 웹서비스. python과 mongodb사용" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

    <style>
        * {
            font-family: 'Stylish', sans-serif;
        }

        .wrap {
            width: 600px;
            margin: 30px auto;
        }

        .img {
            width: 500px;
            height: 300px;
            background-image: url("https://images.unsplash.com/photo-1524237629218-0a109277890c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
            background-position: center;
            background-size: cover;
            margin: 30px auto;
        }

        .price {
          font-size: 24px;
        }

        .btn_order {
          width: 80px;
          display: block;
          margin: auto;
        }
        .dollar_rate {
            color: blue;
        }
        .orders {
            margin-top: 50px;
        }
    </style>
    <script>
        $(document).ready(function () {
            getCurrentRate();
            show_orders();
        });

        function getCurrentRate() {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let currentDollar = response[1]['rate']
                    $('#dollar').text(currentDollar);
                }
            })
        }


        function place_order() {
            let name = $('#name').val()
            let quantity = $('#inputGroupSelect01').val()
            let addr = $('#addr').val()
            let phone = $('#phone').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {
                    name_give: name, quantity_give: quantity, addr_give: addr,
                    phone_give: phone
                },
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            })
        }

            function show_orders() {
            $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        let orders = response['all_orders']

                        for(let i = 0; i<orders.length; i++) {
                            let name = orders[i]['name']
                            let phone = orders[i]['phone']
                            let addr = orders[i]['addr']
                            let quantity = orders[i]['quantity']
                            let total = quantity*4000
                            let currnet_dollar = $('#dollar').text()
                            let total_in_dollar = total/currnet_dollar;
                            let temp_html = `<tr>
                                                 <td>${name}</td>
                                                 <td>${quantity}</td>
                                                 <td>${addr}</td>
                                                 <td>${phone}</td>
                                                 <td>${total}</td>
                                                 <td>${total_in_dollar}</td>
                                               </tr>`
                            $('#orders-box').append(temp_html)
                        }
                    }
                })
            }


    </script>
</head>

<body>
  <div class="wrap">
      <div class="img"></div>
      <h1>핫도그를 팝니다 <span class="price">가격:4,000원/개</span></h1>
      <p>이 핫도그를 먹으면 엄청 배가 부릅니다. 너무너무 맛있어요. 건강에도 좋고 피부에도 좋습니다. 키가 커지고 살은 빠집니다. 성격도 유해지고 얼굴도 잘 생겨집니다</p>
      <p class="dollar_rate">달러-원 환율: <span id="dollar">1000.00</span></p>
      <div class="form">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">주문자이름</span>
              </div>
              <input type="text" class="form-control" id="name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">수량</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                  <option selected>--수량을 선택하세요--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="3">4</option>
                  <option value="3">5</option>
              </select>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default1">주소</span>
              </div>
              <input type="text" id="addr" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default2">전화번호</span>
              </div>
              <input type="text" class="form-control" id="phone" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
      </div>
      <button type="button" onclick="place_order()" class="btn btn-primary btn_order">주문하기</button>
    <div class="orders">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">주문자이름</th>
              <th scope="col">수량</th>
              <th scope="col">주소</th>
              <th scope="col">전화번호</th>
              <th scope="col">총액</th>
              <th scope="col">총액(달러)</th>



          </tr>
          </thead>
          <tbody id="orders-box">
          </tbody>
      </table>
  </div>
  </div>



</body>

</html>